@import url('https://fonts.googleapis.com/css');
*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #464542ae;
  }

  .container{
    position: relative;
    width: calc(100% - 110px);
    min-height: calc(100vh - 150px);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
header{
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo{
  position: relative;
  height: auto;
  width: 150px;
}

header ul {
    display: flex;
  }

header ul li {
    list-style: none;
    margin: 0 10px;
  }

  header ul li a {
    text-decoration: none;
    color: #464542ae;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 25px;
  }
  
  header ul li a:hover,
  header ul li a.index{
    background-color: aliceblue;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

.lwast{
    transform: translateX(-50px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
}

.lwast h2{
    padding-bottom: 10px;
    font-size: 3em;
    color: #464542ae;
}

.lwast p{
    font-size: 1.2em;
    color:#464542ae;
}

.lwast a{
    display: inline-block;
    padding: 10px 30px;
    background-color: #fff;
    color: #464542ae;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.imagen{
  background: #464542ae;
  width: 500px;
  height: 460px;
  border-radius: 100% 0% 48% 52% / 45% 0% 100% 55%;
}

.imagen img {
    transform: translateY(-75px);
    border-radius: 100px;
    width: 400px;
    filter: drop-shadow(40px 40px 40px  white) grayscale(40%);
    margin-bottom: 100px;
  }
  /*@keyframes animate {
    0%,
    100% {
      transform: translateY(-120px);
    }
    50% {
      transform: translateY(-70px);
    }
  }*/

  .socials {
    transform: translateX(10px);
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .socials li {
    list-style: none;
  }
  .socials li a {
    text-decoration: none;
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  .socials li a img {
    width: 30px;
    transform: scale(1.1);
    transition: 0.5s;
  }
  .socials .ig:hover a{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  }
  .socials .git:hover a{
    background:rgb(67, 67, 67);
  }
  .socials .twit:hover a{
    background:#1DA1F2;
  }

  .socials li:hover a img {
    transform: scale(0.7) rotate(300deg);
  }



  
  
  #activitats  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #464542ae;
  }
  .container1{
    position: relative;
    width: calc(100% - 110px);
    min-height: calc(100vh - 150px);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .lwasthtml1{
    display: block;
    transform: translateX(-50px);
    max-width: 700px;
    height: 400px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    margin-left: 80px;
}

.lwasthtml1 h2{
    padding-bottom: 10px;
    font-size: 3em;
    color: #464542ae;
}

.lwasthtml1 p{
    padding-top: 15px ;
    padding-bottom: 10px;
    font-size: 1.5em;
    color:#464542ae;
}

.lwasthtml1 a{
    display: inline-block;
    padding: 10px 30px;
    background-color: #fff;
    color: #464542ae;
    margin-left: 35px;
    margin-top: 85px;
    border-radius: 30px;
    font-size: 5em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.lwasthtml1 a:hover{
    background-color: #464542ae;
    color: #fff;
}


.lwastcss1{
  transform: translateX(-50px);
  max-width: 700px;
  height: 400px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  margin-left: 460px;
}

.lwastcss1 h2{
  padding-bottom: 10px;
  font-size: 3em;
  color: #464542ae;
}

.lwastcss1 p{
  padding-top: 15px ;
  padding-bottom: 10px;
  font-size: 1.5em;
  color:#464542ae;
}

.lwastcss1 a{
  display: inline-block;
  padding: 10px 30px;
  background-color: #fff;
  color: #464542ae;
  margin-left: 85px;
  margin-top: 85px;
  border-radius: 30px;
  font-size: 5em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.lwastcss1 a:hover{
  background-color: #464542ae;
  color: #fff;
}

.ima1 {
  position: absolute;
  border-radius: 100px;
  width: 400px;
  margin-left: 650px ;
  animation: animate 5s linear infinite;
  filter: drop-shadow(40px 40px 40px  rgb(255, 255, 255)) grayscale(30%);
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(-50px);
  }
}


#contacto  {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #464542ae;
}

.container2{
  position: relative;
  width: calc(100% - 110px);
  min-height: calc(100vh - 150px);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.lwastcontacto{
  display: block;
  padding: 40px;
  width: 800px;
  height: 700px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin-left:500px ;
}
.container2 form {
 margin-left: 50px;
}

.container2 form h1{
  padding-left: 100px;
  padding-bottom: 10px;
  font-size: 3em;
  color: #464542ae;
}
.container2 form input{
  width: 290px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-bottom: 100px;
  background: none;
  border-bottom: 2px solid #464542ae;
}
.container2 form input::placeholder{
  color: #464542ae;
}
.container2 form #Apellido,
.container2 form #mobile{
    margin-left: 20px;
}
.container2 form h4{
  color: #464542ae;
  font-weight: 300;
  width: 600px;
  margin-top: 20px;
}

.container2 form textarea{
  background: none;
  border: none;
  border-bottom: 2px solid #464542ae;
  color: #464542ae;
  font-weight: 200;
  font-size: 15px;
  padding: 10px;
  outline: none;
  min-width: 600px;
  max-width: 600px;
  min-height: 80px;
  max-height: 80px;
}

textarea::-webkit-scrollbar{
  width: 1em;
}
textarea::-webkit-scrollbar-thumb{
  background-color: rgba(194,194,194,0.713);
}

.container2 form #button{
  border: none;
  background: #fff;
  border-radius: 10px;
  margin-top: 40px;
  font-weight: 800;
  font-size: 20px;
  color: #464542ae;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 220px;
  margin-right: 500px;
  margin-bottom: 30px;
  transition: 0.3s;
}

.container2 form #button:hover{
    background-color: #464542ae;
    color: #fff;
  }

  .container2{
    
  }